html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

  color: rgb(12, 10, 9);
}

h1 {
  font-size: 36px;
}
h2 {
  color: rgb(120, 113, 108);
}
